.style{
    margin: 20px;
    border-width: 20px;
}
table{
    width: 50%;
    border-collapse: collapse;
}
th{
    background-color: aqua;
}
td{
    background-color: blue;
}
.raw{
    background-color: brown;
}